<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://217.182.8.161</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>www.jabe-abzar.com</MSDeployServiceURL>
    <DeployIisAppPath>www.jabe-abzar.com</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>javad</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ConstructionCompanyEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=217.182.8.161;Initial Catalog=ConstructionCompany;Persist Security Info=True;User ID=sa;Password=sa_1234" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DataAccess.ConstructionCompanyEntities, DataAccess" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ConstructionCompanyEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/ConstructionEDM.csdl|res://*/ConstructionEDM.ssdl|res://*/ConstructionEDM.msl;provider=System.Data.SqlClient;provider connection string="Data Source=217.182.8.161;Initial Catalog=ConstructionCompany;Persist Security Info=True;User ID=sa;Password=sa_1234"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>