<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <publishUrl>C:\Users\Javad\Desktop\test\test001</publishUrl>
    <DeleteExistingFiles>False</DeleteExistingFiles>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ConstructionEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/ConstructionEDM.csdl|res://*/ConstructionEDM.ssdl|res://*/ConstructionEDM.msl;provider=System.Data.SqlClient;provider connection string="Data Source=www.jabe-abzar.com;Initial Catalog=jabeabza_DB;Persist Security Info=True;User ID=jabeabza_javad;Password=2210226104H.m"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>