@import url('../fonts/weblogma_yekan.css');

body {
    margin: 0px;
    padding-right: 0px;
    padding-left: 0px;
    font-family: IRANSansLight,Arial;
    background-color: aliceblue;
}

@font-face {
    font-family: 'glyphicons-halflings-regular';
    src: url('../bootstrap-3.3.7-dist/fonts/glyphicons-halflings-regular.ttf') format('truetype');
    src: url('../bootstrap-3.3.7-dist/fonts/glyphicons-halflings-regular.woff') format('woff');
    src: url('../bootstrap-3.3.7-dist/fonts/glyphicons-halflings-regular.svg') format('svg');
    src: url('../bootstrap-3.3.7-dist/fonts/glyphicons-halflings-regular.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'Weblogma_Yekan';
    src: url('../fonts/Weblogma_Yekan.woff') format('woff');
    src: url('../fonts/Weblogma_Yekan.eot') format('embedded-opentype');
    src: url('../fonts/Weblogma_Yekan.ttf') format('truetype');
    src: url('../fonts/Weblogma_Yekan.otf') format('opentype');
}

@font-face {
    font-family: 'IRANSansLight';
    src: url('../fonts/IRANSansLight.woff') format('woff');
}

@font-face {
    font-family: 'Yekan';
    src: url('../fonts/Yekan.woff') format('woff');
    src: url('../fonts/Yekan.ttf') format('truetype');
    src: url('../fonts/Yekan.svg') format('svg');
    src: url('../fonts/Yekan.eot') format('embedded-opentype');
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

.inner-container {
    margin-left: 15px;
    margin-right: 15px;
}

a {
    text-decoration: none;
    color: #9E9E9E;
}

    a:hover {
        text-decoration: none;
        color: #1FBF67;
    }

.navbar {
    margin-bottom: 0px;
}

.navbar-default {
    background-image: none;
}

.top-nav {
    width: 100%;
    height: 41px;
    margin-right: 0px;
    margin-left: 0px;
    border-bottom: 1px #DDE2E6 solid;
    background-color: white;
}

.top-nav-inner {
    position: relative;
    height: 41px;
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    opacity: 50;
}

.second-nav {
    position: relative;
    max-width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.email {
    border-left: 1px #DDE2E6 solid;
    border-right: 1px #DDE2E6 solid;
    height: 41px;
    width: 235px;
    display: inline;
    float: left;
    line-height: 41px;
    text-align: center;
}

.phone {
    width: 182px;
    height: 41px;
    border-right: 1px #DDE2E6 solid;
    float: left;
    line-height: 41px;
    text-align: center;
}

.sosioal-network {
    float: right;
    width: 215px;
    height: 41px;
    border-left: 1px #DDE2E6 solid;
    border-right: 1px #DDE2E6 solid;
}

    .sosioal-network .telegram {
        height: 25px;
        width: 25px;
        background-image: url('../Icons/telegram-logo.png');
    }

        .sosioal-network .telegram:hover {
            height: 25px;
            width: 25px;
            background-image: url('../Icons/telegram-logo green.png');
        }

    .sosioal-network ul {
        display: block;
        list-style: none;
        margin-top: 8px;
    }

    .sosioal-network li {
        display: inline;
        float: left;
        list-style: none;
        line-height: 41px;
        margin-right: 10px;
    }

    .sosioal-network .instagram {
        height: 25px;
        width: 25px;
        background-image: url('../Icons/instagram-logo .png');
    }

        .sosioal-network .instagram:hover {
            height: 25px;
            width: 25px;
            background-image: url('../Icons/instagram-logo green.png');
        }