
#nr_footer .container .copyrightRow {
    border-top: none !important;
}

body {
    margin: 0;
}

#container {
    height: auto;
    width: 100%;
    padding-top: 50px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 50px;
    direction: rtl;
}

/*textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus, #ContentPlaceHolder1_Abstract:focus, #ContentPlaceHolder1_Tags:focus, select:focus {
    border-color: #F7B71E;
    box-shadow: 0 1px 1px rgba(247, 183, 30, 0.075) inset, 0 0 8px rgba(247, 183, 30, 0.6);
    outline: 0 none;
}*/

.liststylenone {
    width: 50px;
    list-style: none !important;
}

textarea {
    resize: none;
}

.DivPreviewBorder {
    display: none;
    margin-top: 50px;
    margin-bottom: 50px;
    border: solid 2px rgb(247, 183, 30);
    border-radius: 5px;
    padding: 10px;
}

.error {
    text-align: center;
    color: red;
    font-weight: bold;
}

.textok {
    color: #6ea11a;
    font-weight: bold;
}

.bootstrap-tagsinput {
    min-height: 100px;
    max-width: 500px;
    display: block !important;
}

.myTag {
    font-size: 16px !important;
    line-height: 30px !important;
}

.DDLClass {
    display: inline;
    width: 100%;
    max-width: 200px;
    height: 25px;
}

.LBXClass {
    width: 100%;
    height: 100%;
    max-width: 220px;
    max-height: 450px;
}

.Displayinline {
    display: inline;
}

#upPan1 > div, #upPan2 > div, #upPan3 > div {
    display: inline !important;
}

.displaynone {
    display: none !important;
}
