#nr_footer .container .copyrightRow {
    border-top: none !important;
}

body {
    margin: 0;
}

#container {
    height: auto;
    width: 100%;
    padding-top: 50px;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 50px;
    direction: rtl;
}

.liststylenone {
    width: 50px;
    list-style: none !important;
}

textarea {
    resize: none;
}

.DivPreviewBorder {
    display: none;
    margin-top: 50px;
    margin-bottom: 50px;
    border: solid 2px rgb(247, 183, 30);
    border-radius: 5px;
    padding: 10px;
}

.error {
    text-align: center;
    color: red;
    font-weight: bold;
}

.textok {
    color: #6ea11a;
    font-weight: bold;
}

.bootstrap-tagsinput {
    min-height: 100px;
    max-width: 500px;
    display: block !important;
}

.DDLClass {
    display: inline;
    width: 100%;
    max-width: 200px;
    height: 25px;
}

.LBXClass {
    width: 100%;
    height: 100%;
    max-width: 220px;
    max-height: 450px;
}

.Displayinline {
    display: inline;
}

#upPan1 > div, #upPan2 > div, #upPan3 > div {
    display: inline !important;
}

.displaynone {
    display: none !important;
}

.breadcrumb > li + li:before {
    content: none !important;
}