button[disabled], html input[disabled] {
    background-color: transparent !important;
}

.inputDiv {
    direction: rtl;
    margin-top: 22px;
    padding: 0 10px 10px 10px;
}
    /*-----------------------------------------------------------------------------*/

    .inputDiv label {
        font-size: 11.5px !important;
        margin-right: 7px;
        background-color: white;
        position: absolute;
        color: #737373;
        margin-top: -8px;
        padding-right: 4px;
        padding-left: 4px;
    }

    .inputDiv input {
        width: 100%;
        border: 1px solid #f7b71e;
        height: 40px;
        padding: 5px;
        padding-right: 15px;
        font-weight: bold;
        letter-spacing: 1px;
    }

input {
    border-color: #F7B71E !important;
}