.Profile {
    background-image: url('../images/user64px.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
}

    .Profile:hover {
        background-image: url('../images/user64pxHover.png');
    }

.popover-container {
    margin-right: 20px;
}

.fRight {
    float: right;
}

.logInProfile {
    margin-right: 10%;
    position: absolute;
    background-image: url('../images/userLogIn.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
}

.logInProfile2 {
    margin-right: 15%;
    position: absolute;
    /*background-image: url('../images/userLogIn.png');*/
    background-size: cover;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
}

#myPopoverContent {
    margin-right: 5%;
    display: none;
    padding: 10px;
    position: absolute;
    width: 270px;
    height: 400px;
    overflow-y: auto;
    top: 62px;
    right: -55px;
    background-color: #fdfdfd;
    z-index: 1001;
    box-shadow: 1px 1px 3px rgba(34,34,34,0.2);
    -webkit-animation: fadeIn 0.4s ease-in-out;
    -moz-animation: fadeIn 0.4s ease-in-out;
    animation: fadeIn 0.4s ease-in-out;
}

    #myPopoverContent a {
        color: black;
    }

    #myPopoverContent:before {
        font-size: 1.4em;
        display: block;
        width: 0;
        height: 0;
        content: '';
        pointer-events: none;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #fdfdfd;
        border-left: 10px solid transparent;
        position: absolute;
        top: -.45em;
        right: .97em;
    }

    #myPopoverContent .popoverProfile {
        width: 100%;
        min-height: 110px;
        border-bottom: 1px solid #F7B71E;
    }

button:focus {
    box-shadow: none !important;
    border: none !important;
    outline: 0px !important;
}

.popupProfileImg {
    border-radius: 30px;
    float: left;
    width: 100px;
    height: 100px;
}

.personName {
    width: 130px;
    float: right;
    min-height: 43px;
    direction: rtl;
}

.btnPorfile {
    height: 15px;
    width: 30px;
}

.popoverProfile nav {
    color: #F7B918;
    float: right;
    font-size: 12px;
}

    .popoverProfile nav a {
        position: relative;
        display: inline-block;
        outline: none;
        color: #000;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 400;
        text-shadow: 0 0 1px rgba(255,255,255,0.3);
        font-size: 1.35em;
    }

        .popoverProfile nav a:hover,
        .popoverProfile nav a:focus {
            outline: none;
        }

.ij-effect-3 a::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 4px;
    background: rgba(0,0,0,0.3);
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: opacity 0.3s, -moz-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    transform: translateY(10px);
}

.ij-effect-3 a:hover::after,
.ij-effect-3 a:focus::after {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}

.popoverLinks {
    width: 100%;
    float: right;
    direction: rtl;
    border-bottom: 1px solid #F7B71E;
}

    .popoverLinks ul {
        list-style: none;
        margin: 0 !important;
        padding: 0 !important;
    }

.messageCountLink {
    text-align: center;
}

.messageCount {
    text-align: center;
    float: left;
    width: 37px;
    height: 0px;
    border-radius: 19px;
    margin-top: 2px;
    padding-bottom: 36px;
    margin-left: 13px;
    background-color: #F7B71E;
}

.projectDiv {
    width: 100%;
    height: 100%;
}

.logOutDiv {
    float: right;
    width: 100%;
    direction: rtl;
}

.LogOut {
    background: transparent;
}

.iconLeft {
    float: left;
    margin-top: 15px;
    margin-left: 23px;
    font-size: 19px;
}

@keyframes slideInDown {
    from {
        transform: translate3d(0, -20%, 10px);
        visibility: visible;
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

.slideInDown {
    animation-name: slideInDown;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}

@media (max-width: 767px) {
    .popover-container {
        margin-right: 41px;
    }

    #myPopoverContent {
        margin-right: 60px;
    }
}